/* Desktop */
body {
    margin: 0;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    border: 30px solid rebeccapurple;
}


.main {
    color: rgba(255, 0, 0, 0.6);
}


@media screen and (max-width: 425px) {
    .main {
        color: navy;

        /* border: 0; */
        /* border: initial; */
    }

    span {
        color: initial;
    }
}
/* Big blocks - Start */
.big-block {
    position: absolute;
    width: 25%;
    height: 25%;
}

.hugered {
    top: 0px;
    left: 0px;

    background-color: red;
}
.hugegreen {
    top: 0px;
    right: 0px;
    
    background-color: green;
}
.hugeblue {
    bottom: 0px;
    left: 0px;
    
    background-color: blue;

}
.hugeyellow {
    bottom: 0px;
    right: 0px;
    
    background-color: yellow;
}

@media screen and (max-width: 425px) {
    .hugered {
        display: none;
    }

    .hugeblue {
        width: 10%;
    }
}

/* Big blocks - End */


.smallred {
    width: 10%;
    height: 10%;
    position: fixed;
    
    background-color: red;
    
    top: 25%;
    left: 25%;
    
    }
.smallgreen {
    width: 10%;
    height: 10%;
    position: fixed;

    background-color: green;

    top: 25%;
    right: 25%;

}
.smallblue {
    width: 10%;
    height: 10%;
    position: fixed;

    background-color: blue;

    bottom: 25%;
    left: 25%;
    
}

.smallyellow {
    width: 10%;
    height: 10%;
    position: fixed;
    
    background-color: yellow;
    
    bottom: 25%;
    right: 25%;
        
}

.smallpink {
    width: 25%;
    /* min-width: 200px;
    max-width: 400px; */

    height: 200px;
    position: fixed;
    
    background-color: palevioletred;
    
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

@media screen and (max-width: 1400px) {
    .smallpink {
        width: 20%;
    }
}
@media screen and (max-width: 1000px) {
    .smallpink {
        width: 15%;
    }
}
@media screen and (max-width: 600px) {
    .smallpink {
        width: 10%;
    }
}
@media screen and (max-width: 400px) {
    .smallpink {
        width: 5%;
    }
}




/* Tablet */
@media screen and (max-width: 1024px) {
    .smallyellow {
        background-color: saddlebrown;
    }
}
    

/* Mobile */
@media screen and (max-width: 425px) {}